/* LEFT AREA */
.banner_area {
    width: 750px;
    height: 135px;
}

.banner_area a {
    display: block;
}

.banner_area img {
    width: 100%;
    display: block;
}


.news_area {
    margin-top: 12px;
    width: 750px;
}

.news_area .news_tab {

    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    overflow: hidden;

}


.news_area .news_tab .headline_wrap {
    overflow: hidden;
    float: left;
}

.news_area .news_tab .headline_wrap a {
    float: left;
    margin-right: 10px;
    font-size: 13px;
    color: #000;
}

.news_area .news_tab .headline_wrap a:first-child::after {
    display: inline-block;
    margin: 8px 0px 8px 8px;
    width: 6px;
    height: 10px;
    background-position: -444px -380px;
    content: '';
}

.news_area .news_tab .headline_wrap a span {
    color: grey
}

.news_area .news_tab .menu_wrap {
    float: right;
}

.news_area .news_tab .menu_wrap a {
    float: left;
    margin-right: 10px;
}

.news_area .news_tab .menu_wrap a span {
    font-weight: bold;
}

.news_area .news_tab .menu_wrap a:first-child {
    color: #3565c9;
}

.news_area .news_tab .menu_wrap a:first-child span::after {
    background-color: #c8ccd1;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin-left: 8px;
    vertical-align: 3px;
}

.news_area .news_tab .menu_wrap a:last-child {
    margin-right: 0;
}

.news_brand {
    position: relative;
}

.news_brand .news_title {
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}

.news_brand .news_title .title_wrap {
    float: left;
}

.news_brand .news_title .title_wrap a {}

.news_brand .news_title .title_wrap a:first-child ::before {
    width: 27px;
    height: 24px;
    background-position: -336px -345px;
    content: '';
    margin: -6px 1px 0 0;
}

.news_brand .news_title .title_wrap a:first-child ::after {
    width: 7px;
    height: 11px;
    background-position: -444px -317px;
    content: '';
    margin-left: 6px;
    margin-top: 4px;
}

.news_brand .news_title .title_wrap a strong {}

.news_brand .news_title .title_wrap a span {}

.news_brand .news_title .title_wrap a span::after {
    background-color: #c8ccd1;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 0 0 8px;
    vertical-align: 3px;
}

.news_brand .news_title .icon_wrap {
    float: right;
}

.news_brand .news_title .icon_wrap a {
    margin-right: 10px;
}

.news_brand .news_title .icon_wrap .list {

    width: 16px;
    height: 15px;
    background-position: -206px -389px;

    opacity: .7;
}

.news_brand .news_title .icon_wrap .galary {

    width: 16px;
    height: 15px;
    background-position: -444px -19px;
 

}

.news_brand .news_title .icon_wrap .setting {

    width: 16px;
    height: 15px;
    background-position: -0 -419px;
    opacity: .7;
    background-size: cover;
}

.news_wrap {
    width: 748px;
    height: 260px;
    position: relative;

}

.news_brand a .left {
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    background-position: 0 -299px;
    content: '';
    top: 50%;
    left: -20px;
    z-index: 1;


}


.news_wrap ul {
    overflow: hidden;
    border: 1px solid #dae1e6;
    ;
}

.news_wrap ul li {
    float: left;
    width: calc(100% / 6);
    height: 65px;

}

.news_wrap ul li a {
    display: block;
    padding: 23px 0 22px;
    text-align: center;
}

.news_wrap ul li a img {
    height: 20px;
}

.news_wrap .vt_line {
    width: 1px;
    height: 260px;
    position: absolute;
    background: #dae1e6;
    top: 0;
}

.news_wrap .vt_line.vt01 {
    left: 124px;
}

.news_wrap .vt_line.vt02 {
    left: 248px;
}

.news_wrap .vt_line.vt03 {
    left: 372px;
}

.news_wrap .vt_line.vt04 {
    left: 497px;
}

.news_wrap .vt_line.vt05 {
    left: 622px;
}

.news_wrap .hr_line {
    width: 748px;
    height: 1px;
    left: 0;
    background: #dae1e6;
    position: absolute;
}

.news_wrap .hr_line.hr01 {
    top: 65px;
}

.news_wrap .hr_line.hr02 {
    top: 130px;
}

.news_wrap .hr_line.hr03 {
    top: 195px;
}

.post_area {
    padding: 35px 0 27px;
    letter-spacing: -.25px;
    position: relative;
}

.post_area .sc_title {}

.post_area .title {
    overflow: hidden;
    padding-bottom: 17px;
}

.post_area .title .title_wrap {
    float: left;
}

.post_area .title .title_wrap strong {
    font-size: 14px;
}

.post_area .title .title_wrap span {
 margin-left: 8px;
    color: grey;
}

.post_area .title .set_wrap {
    float: right;
    letter-spacing:-.25px;
}

.post_area .title .set_wrap span {
    display: inline-block;
    color: #505050;
    float: left;
    
}

.post_area .title .set_wrap span em {
    display: inline-block;
    color: #000;
    font-weight: bold;
    float: left;
}

.post_area .title .set_wrap i::after {
    float: left;
    width: 11px;
    height: 11px;
    background-position: -444px -168px;
    content: '';
    margin-left: 10px;
    margin-top: 1px;
    opacity: .7;

}

.post_area .title .set_wrap .bar {
    float: left;
    margin: 0 20px 0 10px;
    display: inline-block;
    height: 13px;
}

.post_area .sc_title .title_nav {
    position: relative;
}
.post_area .sc_title .title_nav .btn{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);

}
.post_area .sc_title .title_nav .btn.left{
    background-position: -44px -345px;
    left: -20px;
}
.post_area .sc_title .title_nav .btn.right{
    background-position: -86px -345px;
    right: -20px;
}

.post_area .sc_title .title_nav ul {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dae1e6;
}

.post_area .sc_title .title_nav ul li {
    float: left;
    width: calc(100% / 8);
    height: 49px;
    border-right: 1px solid #dae1e6;
}
.post_area .sc_title .title_nav ul li:last-child {
   
    border-right: none;
}

.post_area .sc_title .title_nav ul li a {
    display: block;
    
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;

}

.post_area .sc_post {
    padding: 18px 0;
    border-bottom: 1px solid #e4e8eb;
   
}



.post_area .sc_post {}

.post_area .sc_post .list01 {
    border-bottom: 1px solid #e4e8eb;
    padding: 18px 0;
}

.post_area .sc_post .list01 ul {
    overflow: hidden;
}

.post_area .sc_post .list01 ul li {
    margin-right: 22px;
    float: left;
}

.post_area .sc_post .list01 ul li:last-child {
    margin-right: 0px;
}



.post_area .sc_post .list01 ul li a {}

.post_area .sc_post .list01 ul li a .video {
    width: 364px;
    height: 180px;
    position: relative;
}

.post_area .sc_post .list01 ul li a .video img {
    width: 100%;
}
.post_area .sc_post .list01 ul li a .video .play {
    position: absolute;
    bottom: 9px;
    left: 12px;
    
    width: 24px;
    height: 28px;
    background-position: 0 -389px;
   
}
.post_area .sc_post .list01 ul li a .video .runtime {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 14px;
    color:#fff;
    background-color: #000;
    opacity: .7;
    border-radius:3px;
}
.post_area .sc_post .list01 ul li a .video .runtime span{
    font-size: 12px;
    line-height: 14px;
    color:#fff;
    z-index: 1;
}

.post_area .sc_post .list01 ul li a .info {
    margin-top: 22px;
    line-height: 1.7;
}

.post_area .sc_post .list01 ul li a .info em {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #ebaa00;
}

.post_area .sc_post .list01 ul li a .info strong {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.post_area .sc_post .list01 ul li a .info p {}

.post_area .sc_post .list01 ul li a .info span {
    display: inline-block;
}





.post_area .sc_post .list01 ul li .video2 {
    width: 235px;
    height: 130px;
    position: relative;
    margin-left: 0;

}
.post_area .sc_post .list01 ul li a .video2 .play {
    position: absolute;
    bottom: 9px;
    left: 12px;
    width: 24px;
    height: 28px;
    background-position: 0 -389px;
   
}

.post_area .sc_post .list01 ul li a .video2 .runtime {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 14px;
    color:#fff;
    background-color: #000;
    opacity: .7;
    border-radius:3px;
}
.post_area .sc_post .list01 ul li a .video2 .runtime span{
    font-size: 12px;
    line-height: 14px;
    color:#fff;
    z-index: 1;
}

.post_area .sc_post .list01 ul li .video2 img {
    width: 235px;
    height: 130px;

}

.sc_post .list02 {
    padding: 18px 0;
    border-bottom: 1px solid #e4e8eb;
}

.sc_post .list02 ul {
    overflow: hidden;
}

.sc_post .list02 ul li {
    margin-top: 18px;
    overflow: hidden;
}

.sc_post .list02 ul li:first-child {
    margin-top: 0
}
.sc_post .list02 ul li .border {
    display: inline-block;
    width: 170px;
    margin-right: 21px;
    float: left;
}
.sc_post .list02 ul li .text {
    display: block;
    overflow: hidden;
    }


.sc_post .list02 ul li a img {
    width: 100%;
    display: inline-block;
    
}

.sc_post .list02 ul li a .info {
    padding:4px 47px 0 0;
    line-height: 16px;
}

.sc_post .list02 ul li a .info em {
    display: inline-block;
    color: #ebaa00;
    font-weight: 700;
}

.sc_post .list02 ul li a .info strong {
    display:block;
    font-size: 13px;
    margin-top: 2px;
}

.sc_post .list02 ul li a .info p {
    
    margin-top: 2px;
    font-size: 13px;
    color: #404040;
    line-height: 1.5;
    display:-webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sc_post .list02 ul li a .info .post_detail {
    margin-top: 2px;
    font-size: 12px;
    overflow: hidden;
}


.list03 {}

.list03 .title {
    padding: 24px 0;
    display: block;
  
    font-size: 13px;
    font-weight: bold;
   
}

.list03 ul {
    overflow: hidden;
}

.list03 ul li {
    float: left;
    margin-right: 22px;
    position: relative;
}

.list03 ul li:last-child {
    margin-right: 0;
}

.list03 ul li a {
    display: block;
    width: 232px;
    height: 100%;
}

.list03 ul li a .cate {
    position: absolute;
    width: 43.5px;
    height: 30px;
    background-color: #ebaa00;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.list03 ul li a img {
    display: block;
    width: 232px;
    height: 130px;
}

.list03 ul li a .info {
    margin-top: 20px;

}

.list03 ul li a .info em {
    display: -webkit-box;
    letter-spacing: -.25px;
    vertical-align: -4px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list03 ul li a .info p {
    overflow: hidden;
    float: left;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    color: #505050;
    display: inline-block;
    line-height: 20px;
    margin-top: 3px;

}

.list03 ul li a .info p em {
    display: inline-block;
    color: #ebaa00;
    font-size: 12px;

    
    
}

.list03 ul li a .info p span {
    color: #808080;
    display: inline-block;
    margin-left: 5px;
}


.login_area {}

.login_area .login {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

.login_area .login p {
    padding-left: 3px;
    color: grey;
    font-size: 12px;
}

.login_area .login .login_btn {
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;

}

.login_area .login .login_btn a::before {
    content: '';
    width: 60px;
    height: 12px;
    background-position: -138px -330px;
    margin: 2px 5px 0 0;
}

.login_area .login .log_pw_join {
    margin: 14px 8px 0 4px;
    overflow: hidden;
}

.login_area .login .log_pw_join p {
    float: left;
    color: #404040;
}


.login_area .login .log_pw_join p span {
    float: left;
}

.login_area .login .log_pw_join p .id::before {
    width: 10px;
    height: 14px;
    background-position: -444px -98px;

    content: '';
    margin: -1px 5px 1px 0px
}

.login_area .login .log_pw_join p:last-child::before {
    width: 11px;
    height: 11px;
    background-position: -444px -129px;
    content: '';
    margin: 2px 5px 0 0;
}

.login_area .login .log_pw_join p i {
    display: inline-block;
    float: left;
    margin-top: 5px;

}

.login_area .login .log_pw_join p:last-child {
    float: right;
}

.sum_info {
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    overflow: hidden;
    padding: 15px 0 14px 0;
}


.sum_info .badge {
    float: left;
    height: 20px;
    padding: 7px 7px;
    margin: -3px 8px 0px 8px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #202020;
    border-radius: 10px;
    font-size: 11px;
    line-height: 5px;
    color: #202020;
    font-weight: 700;
}

.sum_info p {
    float: left;

}

.sum_info .pagination {
    float: right;
    overflow: hidden;
    margin-top: -5px;
    margin-right: 5px;
    display: inline-block;

}

.sum_info .pagination span {
    float: left;
    background-color: #fafbfc;
    border: 1px solid #dae1e6;
    width: 24px;
    height: 24px;
    padding-right: 3px;

}

.sum_info .pagination .left_page {
    margin: 7px 8px 7px;

}

.sum_info .pagination .right_page {
    margin: 7px 8px 7px;

}

.sum_info .pagination span .left {
    border-color: none;

}


.banner2 a {
    width: 350px;
    height: 200px;
}

.banner2 a img {
    width: 350px;
    height: 200px;
}

.shopping_area {

    width: 350px;
    height: 1539px;
    background-color: #fff;
    margin-top: 15px;
}

.shopping_list_area {
    border: 1px solid #e4e8eb;
}


.shopping_area .shopping_title {
    padding: 12px 0 13px;
    line-height: 17px;
    overflow: hidden;
}

.shopping_area .shopping_title a {}

.shopping_area .shopping_title a strong {
    font-size: 13px;
    float: left;
}

.shopping_area .shopping_title strong::before {
    float: left;
    width: 15px;
    height: 15px;
    background-position: -26px -54px;
    content: '';
    margin-right: 4px;
    margin-top: 1px;
}

.shopping_area .shopping_title .title::after {
    float: left;
    width: 5px;
    height: 9px;
    background-position: -43px -54px;
    margin-top: 5px;
    content: '';
    margin-left: 7px;

}

.shopping_area .shopping_title .title_menu {
    float: right;
}

.shopping_area .shopping_title .title_menu a {
    float: left;
}

.shopping_area .shopping_title .title_menu a span {
    display: block;
    padding: 0 1px;
    color: #202020;
    font-size: 13px;
    margin-left: 15px;
    font-weight: bold;
    line-height: 20px;
    box-sizing: border-box;
}

.shopping_area .shopping_title .title_menu a:first-child span {
    border-bottom: 2px solid #19ce60;
    color: #03c75a;
    margin-left: 0;
}

.shopping_list {}

.shopping_list .list_header {
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
    font-size: 12px;
    color: #202020;
}

.shopping_list .list_header ul {
    overflow: hidden;
}

.shopping_list .list_header .first li {
    float: left;
    line-height: 23px;


}

.shopping_list .list_header .first li:last-child {

    margin-right: 0px;
}

.shopping_list .list_header .second li {
    float: left;
    line-height: 23px;
}

.shopping_list .list_header ul li a {
    height: 100%;
    display: inline-block;

}

.shopping_list .list_header ul li .gmarket,
.shopping_list .list_header ul li .tmon,
.shopping_list .list_header ul li .wmp,
.shopping_list .list_header ul li .gs {
    font-weight: bold;

}

.shopping_list .list_header .first a .dot {
    display: inline-block;
    margin: 0 12px;

}

.shopping_list .list_header .second li a .dot {
    display: inline-block;
    margin-left: 7px;

}

.shopping_prod {
    
    padding: 15px 0 60px;
    margin:0 8px;
    border-bottom: 1px solid #dae1e6;
}

.shopping_prod .prod_header {

    overflow: hidden;
    margin-bottom:15px;
}

.shopping_prod .prod_header .pages {
    float: right;
}

.shopping_prod .prod_header .pages .text {
    float: left;
    display: inline-block;
    margin-top: 8px;
}
.shopping_prod .prod_header .pages .current {
   display: inline-block;
    margin-right:4px;
    font-weight: 700;
}
.shopping_prod .prod_header .pages .all {
   display: inline-block;
    margin-left:4px;
    
}

.shopping_prod .prod_header .pages .pagination {
    float: right;
}

.shopping_prod .prod_header .pages .pagination span {
    display: block;
    width: 29px;
    height: 29px;
    background-color: #fff;
    border: 1px solid #dae1e6;
    float: left;


}

.shopping_prod .prod_header .pages .pagination a .right_box {
    border-left: none;


}


.shopping_prod .prod_header .pages .pagination .left_page {
    float: left;
    width: 5px;
    height: 9px;
    margin: 10px 12px;

}

.shopping_prod .prod_header .pages .pagination .right_page {
    float: left;
    width: 5px;
    height: 9px;
    margin: 10px 12px;
}

.shopping_prod .prod_list {
    position: relative;
    top: 0;
    left: 0;
}

.shopping_prod .prod_list ul {
    margin-top: -10px;
    overflow: hidden;
    width: 337px;
}

.shopping_prod .prod_list ul li {
    float: left;
    width: calc(100% / 3);

}


.shopping_prod .prod_list ul li a {
    width: 100%;
    display: block;


}


.shopping_prod .prod_list ul li a img {
    display: inline-block;
    width: 107px;
    height: 146px;
}

.shopping_prod .prod_list ul li a strong {
    margin-top: 10px;
    font-size: 12px;
    display: block;
    text-align: center;
}

.shopping_prod .prod_list ul li a span {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
}

.prod_list .pages {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}

.prod_list .pages .text {
    margin-left: 10px;
}

.prod_list .pagination {
    position: absolute;
}

.prod_list .pagination .left_box {
    position: absolute;
    display: block;
    left: -50px;
    
    
}

.prod_list .pages .pagination .right_box {
    position: absolute;
    left: 50px;
    border: 1px solid #ccc;
}

.shopping_news {
    margin: 0 8px;
    padding: 15px 0 15px;
    border-bottom: 1px solid #e4e8eb;
}

.shopping_news .news_header {
    overflow: hidden;
    padding: 8px 0 0 2px;
    
}

.shopping_news .news_header strong {
    float: left;
    line-height: 1;


}

.shopping_news .news_header .pages {
    float: right;
    
}

.shopping_news .news_header .pages .text {
    float: left;
    margin: 0;
    
}

.shopping_news .news_header .pages .pagination {
    float: left;
    margin: -8px 0 0 10px;
    
}

.shopping_news .news_header .pages .pagination .left_page {
    float: left;
    
}

.shopping_news .news_header .pages .pagination .right_page {
    float: left;
}

.shopping_news .news_list {}

.shopping_news .news_list ul {
    font-size: 12px;
    margin: 0 5px;
    line-height: 20px;
}

.shopping_news .news_list ul li {
    overflow: hidden;
}

.shopping_news .news_list ul li a {
    height: 100%;
    display: inline-block
}

.shopping_news .news_list ul li::before {
    background-color: #1ace61;
    float: left;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: '';
    margin-right: 8px;
    margin-top: 8px;
}

.shopping_news .news_list ul li a strong {
    float: left;
    margin-right: 13px;
    color: #000;
    font-weight: 700;
}

.shopping_news .news_list ul li a p {
    float: left;
    color: #202020;
}

.sub_shoppinglist {
    padding: 0px 0 30px;
    margin: 0 8px;
 
}

.sub_shoppinglist .sub_title {
    overflow: hidden;
    margin: 15px 5px 10px 5px;
    
}

.sub_shoppinglist .sub_title ul {
    float: left;
}

.sub_shoppinglist .sub_title ul li {
    float: left;
    display: inline-block;

    font-size: 13px;
    line-height: 2;
    font-weight: 500;

}

.sub_shoppinglist .sub_title ul li a:first-child {
    color: #03c75a;
    font-weight: 700;
    margin-left: 0px;
    border-bottom: 2px solid #19ce60;
}

.sub_shoppinglist .sub_title ul li a {
    display: inline-block;
    margin-left: 5px;
}

.sub_shoppinglist .sub_title .pages {
    float: right;
}

.sub_shoppinglist .sub_title .pages .text {
    float: left;
    display: inline-block;
   
    
}

.sub_shoppinglist .sub_title .pages .pagination {
    float: right;
}



.sub_prod {
    overflow: hidden;

}

.sub_prod div {
    float: left;
    width: 163.5px;
}

.sub_prod .left_prod {
    float: left;
    margin-right: 5px;
}

.sub_prod .right_prod {
    float: left;
}

.sub_prod div a {
    display: inline-block;
    width: 163.5px;
    
}
.sub_prod div a .border{
    display: inline-block;
    width: 163.5px;
    height: 163px;
    
}

.sub_prod div a img {
    display: inline-block;
    width: 163.5px;
   
}

.sub_prod div a span {
    display: inline-block;
    width: 100%;
    height: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;

}

.btn_more{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom:-10px;

    
}

.btn_more i{
    
    width: 42px;
    height: 42px;
    background-position: 0 -345px;
    background-repeat: no-repeat;
    vertical-align: top;
    display: block;
    margin: 0 auto 3px;
}
.btn_more span{
    display: block;
    text-align: center;
    font-size: 12px;
    color:#505050
}